<div class="search" *ngIf="!editing">
  <form class="search__form" (submit)="handleSearch(searchBox.value)">
    <input class="search__input" type="text" #searchBox placeholder="znajdź tytuł lub autora">
    <button class="search__button" type="submit">Szukaj</button>
    <button class="search__button button--outlined" type="reset" (click)="loadBooks()">Wyczyść</button>
  </form>
</div>

<div class="new" *ngIf="!editing">
  <button (click)="handleNew()">Dodaj książkę</button>
</div>

<div class="editor" *ngIf="editing">
  <app-editor [bookToEdit]="bookToEdit" [adding]="adding" [nextId]="nextId" (save)="handleSave($event)" (cancel)="handleCancel()"></app-editor>
</div>

<div class="msg" *ngIf="results && books?.length === 0">Brak wyników</div>

<div class="book" *ngFor="let book of books | reverse">
  <p><span class="book__attr-desc">tytuł: </span><span class="book__title">&bdquo;{{ book.title }}&rdquo;</span></p>
  
  <p><span class="book__attr-desc">autor:</span> {{ book.author.firstName }} {{ book.author.lastName }}</p>

  <p *ngFor="let quote of book.quotes"><span class="book__attr-desc">cytat:</span> &bdquo;{{ quote }}&rdquo;</p>

  <p *ngIf="book.note"><span class="book__attr-desc">notatka:</span> {{ book.note }}</p>

  <p class="book__attr--secondary"><span class="book__attr-desc">data dodania:</span> {{ getReadableDate(book.date) }}</p>

  <p class="book__attr--secondary"><span class="book__attr-desc">ID: </span>{{ book.id }}</p>

  <button *ngIf="!editing" class="book__edit-button" (click)="handleEditing(book.id)">Edytuj</button>

  <button *ngIf="!editing" class="button--outlined book__delete-button" (click)="handleDeleting($event)">Usuń</button>

  <div class="deleting">
    <span class="deleting__notice">Czy na pewno usunąć?</span>

    <button class="button--outlined deleting__cancel-button" (click)="cancelDeleting($event)">Anuluj</button>
    
    <button class="button--destructive deleting__confirm-button" (click)="deleteBook(book.id)">Usuń</button>
  </div>
</div>
