<div class="new" *ngIf="!editing">
  <button (click)="handleNew()">Add book</button> <!-- TO DO: next id -->
</div>

<div class="editor" *ngIf="editing">
  <app-editor [bookToEdit]="bookToEdit" [adding]="adding" [nextId]="nextId" (save)="handleSave($event)" (cancel)="handleCancel()"></app-editor>
</div>

<p>editing: {{ editing }}</p>

<div class="book" *ngFor="let book of books;">
  <p><span class="book__attr-desc">ID: </span>{{ book.id }}</p>

  <p><span class="book__attr-desc">tytuł: </span><span class="book__title">&bdquo;{{ book.title }}&rdquo;</span></p>
  
  <p><span class="book__attr-desc">autor:</span> {{ book.author.firstName }} {{ book.author.lastName }}</p>

  <p><span class="book__attr-desc">data dodania:</span> {{ getReadableDate(book.date) }}</p>

  <p *ngFor="let quote of book.quotes"><span class="book__attr-desc">cytat:</span> &bdquo;{{ quote }}&rdquo;</p>

  <p *ngIf="book.note"><span class="book__attr-desc">notatka:</span> {{ book.note }}</p>

  <button *ngIf="!editing" class="book__edit-button" (click)="handleEditing(book.id)">Edit</button>
</div>
