@import "../../variables";

:host {
  display: block;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.75em;
}

.search__form {
  display: flex;
}

.search__input {
  width: auto;
  flex-grow: 1;
  font-size: 1.125em;
}

.search__button {
  margin-bottom: 2.125em;
}

.book{
  font-size: 1.125em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.book__title {
  font-weight: 600;
}

.book__attr-desc {
  color: $secondary-text-color;
}

.book__attr--secondary {
  font-size: .75em;
  color: $secondary-text-color;
}