:host {
  min-width: 480px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.book{
  font-size: 1.125em;
  margin-bottom: 2em;
}

.book__title {
  font-weight: 600;
}

.book__attr-desc {
  color: #999;
}