<div class="editor__heading" *ngIf="!adding">edytujesz: &bdquo;{{ bookToEdit?.title }}&rdquo;</div>

<form (ngSubmit)="handleSubmit(form.value, form.valid)" #form="ngForm" novalidate>
  <label>Tytuł</label>
  <input type="text" name="title" [ngModel]="bookToEdit?.title" #title="ngModel" [class.input--invalid]="title.invalid && (title.touched || form.submitted)" required autofocus><br>

  <p class="editor__validation-msg"><span class="validation-msg__text" *ngIf="title.invalid && (title.touched || form.submitted)">tytuł jest wymagany</span></p>

  <label>Autor</label>
  <div class="author">
    <div class="author__first-name">
      <input type="text" name="firstName" [ngModel]="bookToEdit?.author?.firstName" #firstName="ngModel" [class.input--invalid]="firstName.invalid && (firstName.touched || form.submitted)" required placeholder="imię">

      <p class="editor__validation-msg"><span class="validation-msg__text" *ngIf="firstName.invalid && (firstName.touched || form.submitted)">imię jest wymagane</span></p>
    </div>

    <div class="author__last-name">
      <input type="text" name="lastName" [ngModel]="bookToEdit?.author?.lastName" #lastName="ngModel" [class.input--invalid]="lastName.invalid && (lastName.touched || form.submitted)" required placeholder="nazwisko">

      <p class="editor__validation-msg"><span class="validation-msg__text" *ngIf="lastName.invalid && (lastName.touched || form.submitted)">nazwisko jest wymagane</span></p>
    </div>
  </div>

  <app-quotes-editor [quotesToEdit]="quotes" (update)="handleQuotesUpdate($event)"></app-quotes-editor>

  <label>Notatka</label>
  <textarea name="note" [ngModel]="bookToEdit?.note" #note></textarea>

  <label>Data dodania</label>
  <input name="date" type="datetime-local" [ngModel]="dateAddedString" #date>

  <p class="editor__validation-msg"><span class="validation-msg__text" *ngIf="form.invalid && form.submitted">Uzupełnij pola oznaczone na czerwono</span></p>

  <button type="submit" class="editor__submit-button">Zapisz</button>

  <button type="button" class="editor__cancel-button button--outlined" (click)="handleCancel()">Anuluj</button>
</form>