<p *ngIf="!adding">&bdquo;{{ bookToEdit?.title }}&rdquo;</p>

<form (ngSubmit)="handleSubmit(form.value, form.valid)" #form="ngForm" novalidate>
  <label>title</label>
  <input type="text" name="title" [ngModel]="bookToEdit?.title" #title="ngModel" required autofocus><br>

  <p class="validation-msg"><span class="validation-msg__text" *ngIf="title.invalid && (title.touched || form.submitted)">Title required</span></p>

  <label>author</label>
  <div class="author">
    <div class="author__first-name">
      <input type="text" name="firstName" [ngModel]="bookToEdit?.author?.firstName" #firstName="ngModel" required placeholder="first name">

      <p class="validation-msg"><span class="validation-msg__text" *ngIf="firstName.invalid && (firstName.touched || form.submitted)">First name required </span></p>
    </div>

    <div class="author__last-name">
      <input type="text" name="lastName" [ngModel]="bookToEdit?.author?.lastName" #lastName="ngModel" required placeholder="last name">

      <p class="validation-msg"><span class="validation-msg__text" *ngIf="lastName.invalid && (lastName.touched || form.submitted)">Last name required</span></p>
    </div>
  </div>

  <app-quotes-editor [quotesToEdit]="quotes" (update)="handleQuotesUpdate($event)"></app-quotes-editor>

  <label>note</label>
  <textarea name="note" [ngModel]="bookToEdit?.note" #note></textarea>

  <p class="validation-msg"><span class="validation-msg__text" *ngIf="form.invalid && form.submitted">Fill in required fields</span></p>

  <button type="submit">Submit</button>
</form>

<button class="button--outlined" (click)="handleCancel()">Cancel</button>