<p>book: &bdquo;{{ bookToEdit?.title }}&rdquo;</p>

<form (ngSubmit)="handleSubmit(form.value, form.valid)" #form="ngForm" novalidate>
  <label>title</label>
  <input class="editor__input-text" type="text" name="title" [ngModel]="bookToEdit?.title" #title required><br>

  <label>author</label>
  <input class="editor__input-text" type="text" name="firstName" [ngModel]="bookToEdit?.author?.firstName" #firstName required placeholder="first name">
  <input class="editor__input-text" type="text" name="lastName" [ngModel]="bookToEdit?.author?.lastName" #lastName required placeholder="last name"><br>

  <div *ngFor="let quote of bookToEdit?.quotes;">
    <label>quote: {{ quote }}</label>
    <!-- <input class="editor__input-text" type="text" name="quote[]" [ngModel]="quote"><br> -->
  </div>

  <label>note</label>
  <input class="editor__input-text" type="text" name="note" [ngModel]="bookToEdit?.note" #note><br>

  <button type="submit">Submit</button>
</form>

<p>form.value: {{ form.value | json }}</p>
<p>form.valid: {{ form.valid }}</p>

<!-- <button (click)="handleSave(note.value)">Save changes</button> -->

<button (click)="handleCancel()">Cancel</button>